<p>Bonjour {{ user.email }},</p>

<p>Pour réinitialiser votre mot de passe, cliquez sur ce lien :</p>

<p>
    <a href="{{ url('app_forgotten_password', {token: token}) }}">
        Réinitialiser mon mot de passe
    </a>
</p>

<p>Ce lien est valable 30 minutes.</p>
