body {
    background-color: #e8f5e9;
}

.home-page h1 {
    color: #0d6efd;
    font-weight: 700;
}

.home-page p {
    color: #555;
}

.home-page-header {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    justify-content: end;
    gap: 95px;
}

a{
    text-decoration: none;
}


