{% extends 'base.html.twig' %}

{% block title %}Hello DetailsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Details d'une sortie</h1>


    {% if inscriptions %}
        <h2>{{ inscriptions.sortie.nom }}</h2>
        <h2>{{ inscriptions.sortie.description }}</h2>

    {% else %}
        <p>Vous nՐtes plus inscrit a cette sortie</p>
    {% endif %}








</div>
{% endblock %}
