{% extends 'base.html.twig' %}

{% block title %}Hello DetailsController!{% endblock %}

{% block body %}


<p>Debug du template</p>

<div class="example-wrapper">
    <h1>Détails de la sortie</h1>


    {{ dump() }}



    <p>Sortie : {{ sorties.nom }}</p>


    {% if showForm %}
    <p> c'est toi l'organisateur </p>

    {% endif %}









</div>
{% endblock %}


